.sidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.profileImage {
  height: 100px;
  margin-top: 20px;
}
.usernameText {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.line-4 hr {
  width: 260px;
  border: 1px solid #394b61;
}
.main-nav-container {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
}
.nav-wrapper {
  margin-bottom: 10px;
  display: flex;
}
.list-name {
  margin-left: 10px;
}
