.container {
  height: 100%;
  display: flex;
  color: rgb(206, 199, 199);
}

.sidebarContainer {
  background: #1f2a3c;
  width: 20vw;
}
.movieContainer {
  background: #273244;

  width: 80vw;
}
.blue {
  color: #00e0ff;
}
.movie-wrapper {
  margin: 50px;
}
